*{
    margin: 0%;
    font-family: 'poppins',sans-serif;
}
h3{
    text-align: center;
    font-size: 30px;
    margin: 0;
}
h1{
    color: white;
}
a {
    transition: .5s;
    text-decoration: none;
    font-size: 20px;
    color: rgb(241, 239, 239);
    font-weight: bold;
    background-color: transparent;
    padding-left: 10px;
}
a:hover{
    background-color:rgb(233, 185, 27);
    padding: 7px 7px 7px;
    border-radius: 5px;
}
header{
    display: flex;
    justify-content:space-evenly;
    background-color: rgb(8, 190, 251);
}
nav li{
    color: white;
    display:inline-block;
    margin: 10px 20px;
    padding: 5px 5px 5px;
}
.gallery{
    display:flex;
    flex-wrap: wrap;
    width:100%;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
    justify-content: space-around;
    align-items: center;
}
.content{
    width: 20%;
    margin: 15px;
    box-sizing: border-box;
    float: left;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
    padding-top: 10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25),0 10px rgba(0,0,0,0.22);
    transition: .4s;
    background: #f2f2f2;
}
.content:hover{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16),0 3px 6px rgba(0,0,0,0.16);
    transform: translate(0px,-8px);
}
img{
    width: 200px;
    height: 200px;
    text-align: center;
    margin: 0 auto;
    display: block;
}
p{
    text-align: center;
    color: #b2bec3;
    padding-top: 0 8px;
}
h6{
    font-size: 26px;
    text-align:center;
    color: #222f3e;
    margin: 0;
}
button{
    text-align: center;
    font-size: 24px;
    color: #fff;
    width: 100%;
    padding: 15px;
    border: 0;
    outline: none;
    cursor: pointer;
    margin-top: 5px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    transition: .5s;
}
button:hover{
    background-color:rgb(233, 185, 27);
    transition: .5s;
}
.book{
    background-color: rgb(8, 190, 251);
}